:root{
    --text-light-accent: #EF6D58;
    --text-dark-accent: #EF6D58;
    --text-dark: #391400;
    --text-fark-gray: #391400;
    --text-light-gray: #FFFFFF; /* 64percent and light */
    --primary-font: 200;
    --secondary-font: 600;
    --primary-background: #28293E;
}

body{
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    margin: 0;
}

.nav-container{
    position:relative;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo h1{
    margin: 0;
    margin-left: 10px;

}

.nav-items{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--primary-background);
    
}

.nav-logo img{
    margin-left: 60px;
    width: 40px;
    height: 60px;
}

.nav-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 13px;
    font-weight: var(--primary-font);
}

.nav-links{
    color: var(--text-light-gray);
    text-decoration: none;
}

.nav-links ul{
    margin: 0;
    padding: 0;
}

.light-btn-secondary{
    all: unset;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #9b9898;
    border-radius: 6px;
    margin-right: 60px;
    font-size: 11px;
    font-weight: var(--secondary-font);

}

  .drop-down-btn{
    width: 15px;
    height: 2px;
    border-radius: 3px;
    overflow: none;
    background-color: #fff;
    margin: 6px 0;

}

.drop-btn-container{
    display: none;
    margin-right: 60px;
    border: 1px solid #9b9898;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.toggle{
    padding: 5px 10px;
    transform: rotate(0deg);
    transition: 0.8s;
}

.drop-links{
    display: none;
    background-color: var(--primary-background);
    position: absolute;
    padding-right: 26px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: var(--primary-font);
}

@media screen and (max-width: 600px){
    .nav-links-container{
        display: none;
    }
    .light-btn-secondary{
        display: none;
    }

    .drop-btn-container{
        display: block;
    }
}